@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.about{
    padding: 5% 10%;
    
    background-color: #F5F5F5;
}

.text{
    display: flex;
    gap: 4rem;
}
.bg-white{
    background-color: white;
}
.left h1{
    
    font-size: 5rem;
    font-weight: 700;
}

p{
    margin-top: 2rem;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
}
.upper{
    font-family: "Source Serif 4",sans-serif;
    color: #5d5d66;
    font-weight: 500;
    font-size: 1rem;
}

.nuni{
    font-family: "Nunito", sans-serif;
}
.custom-hr {
    margin: 20px 0; 
    border-bottom: solid black; 
    width: 35%;
    margin: 4rem auto;
}
.meet{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.shelter img{
    width: 96rem;
}