/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Moo+Lah+Lah&family=Nunito:wght@200..900&display=swap');

:root {
  --color-dark-green: #024023;
  --color-light-green: #a3f79d;
  --color-mid-green: #50e446;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.875rem;
  background-color: var(--color-dark-green);
  border-radius: 3.125rem;
  max-width: 75rem;
  margin: 1.25rem auto 2.5rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 3.125rem;
  height: auto;
  margin-right: 0.625rem;
}

.logo-text {
  font-family: 'Righteous', sans-serif;
  font-size: 1.5rem;
  color: var(--color-light-green);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.nav-links a {
  color: var(--color-light-green);
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-mid-green);
}

.navbar-right button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}


.sign-up-btn:hover {
  background-color: var(--color-light-green);
  color: var(--color-dark-green);
}

.log-in-btn {
  background-color: var(--color-light-green);
  color: var(--color-dark-green);
}

.log-in-btn:hover {
  background-color: var(--color-mid-green);
}

.nuni {
  font-family: 'Nunito', sans-serif;
}

.bg-dgrn {
  background-color: var(--color-dark-green);
}

.clr-lgrn {
  color: var(--color-light-green);
}

.clr-dgrn {
  color: var(--color-dark-green);
}
.sign-up-btn {
  background-color: transparent;
  color: var(--color-light-green);
  border: 1px solid var(--color-light-green);
}

@media (max-width: 47.9375rem) {
  .navbar {
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 1.5rem;
  }

  .navbar-left, .navbar-center, .navbar-right {
    width: 100%;
    margin-bottom: 0.625rem;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}